@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #2a2a2a;
  overflow: hidden;
  background: url("/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-origin: border-box;
}

div {
  width: 100vw;
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

div span {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#skele {
  font-size: 38pt;
  letter-spacing: 10pt;
}

#soon {
  font-size: 13pt;
  letter-spacing: 2pt;
  padding-top: 2vh;
}
