body {
  background: url(/assets/img/background.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
}

#testBox {
  border-color: red;
  background-color: green;
  width: 33%;
  height: 40%;
}

.container-fluid {
  position: absolute;
  left: 0;
  right: 0;
  top: 33%;
  transform: translateY(-33%);
}
